# **Decision Tree Algorithm**

Based on the inputs of the flower predict the input attributes belongs to which species

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/GRIP/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#target variables Species and input as length and width
species_label1 = LabelEncoder()

In [ ]:
data["Species_new"] = species_label1.fit_transform(data["Species"])
data = data.drop("Species", axis = "columns")
data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species_new
0      1            5.1           3.5            1.4           0.2            0
1      2            4.9           3.0            1.4           0.2            0
2      3            4.7           3.2            1.3           0.2            0
3      4            4.6           3.1            1.5           0.2            0
4      5            5.0           3.6            1.4           0.2            0
..   ...            ...           ...            ...           ...          ...
145  146            6.7           3.0            5.2           2.3            2
146  147            6.3           2.5            5.0           1.9            2
147  148            6.5           3.0            5.2           2.0            2
148  149            6.2           3.4            5.4           2.3            2
149  150            5.9           3.0            5.1           1.8            2

[150 rows x 6 columns]

In [ ]:
df = data
df= df.drop(columns = ["Species_new","Id"])
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
target = data["Species_new"]
target

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species_new, Length: 150, dtype: int64

In [ ]:
model = tree.DecisionTreeClassifier()
model.fit(df, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(df, target)

1.0

In [ ]:
input1 = [[6.7, 3.0, 5.2, 2.3]] 
result = model.predict(input1)

if result == 0:
  print("It belongs to class : 'IRIS-SETOSA '")
elif result == 1:
  print("It belongs to class : 'IRIS-VERSICOLOR '")
elif result == 2:
  print("It belongs to class : 'IRIS-VIRGINICA '")
else:
  print("Oops! Something went wrong")

It belongs to class : 'IRIS-VIRGINICA '

In [ ]:
input2 = [[5.4, 3.1, 4.7, 1.5]]
result = model.predict(input2)

if result == 0:
  print("It belongs to class : 'IRIS-SETOSA '")
elif result == 1:
  print("It belongs to class : 'IRIS-VERSICOLOR '")
elif result == 2:
  print("It belongs to class : 'IRIS-VIRGINICA '")
else:
  print("Oops! Something went wrong")

It belongs to class : 'IRIS-VERSICOLOR '

In [ ]:
input3 = [[4.6,	3.1,	1.5,	0.2]]
result = model.predict(input3) 

if result == 0:
  print("It belongs to class : 'IRIS-SETOSA '")
elif result == 1:
  print("It belongs to class : 'IRIS-VERSICOLOR '")
elif result == 2:
  print("It belongs to class : 'IRIS-VIRGINICA '")
else:
  print("Oops! Something went wrong")

It belongs to class : 'IRIS-SETOSA '